<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop details</title>
    <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css" />
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <div class="shop-details">
      <%- include('./components/product-details.ejs') %> <%- include('./components/Related-Product.ejs') %>
    </div>
    <%- include('./components/footer.ejs') %> <%- include('./components/search-modal.ejs') %>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
  </body>
</html>
